#divNormal{
    
    justify-content: center;
    width:800px;
    font-size:12px;
    margin-left: 100%;
}

#menú{
  display:none;

}
@media screen and (max-width: 800px){
  #divNormal{
    display:none;
  }
  #menú{
    display:block;
    float:right;
    width:100px;
  }
  }